<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= restaurant.name %> Menu</title>
    <link rel="stylesheet" href="/menu.css" />
     <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="menu">
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>


    <h2>Mains</h2>
    <% menuItems.forEach(item => { if(item.category === 'mains') {
    %>
    <p><strong><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
    - <%= item.priceFormatted %>
  </p>
    <% } }) %>

    <h2>Desserts</h2>
    <% menuItems.forEach(item =>{ if (item.category === 'desserts') {%>
      <p>
        <strong><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
        - <%= item.priceFormatted %>
      </p>
   <% } }) %>

    <h2>Sides</h2>
    <% menuItems.forEach(item =>{ %> <% if(item.category === 'sides') { %>
    <p><strong><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
    - <%= item.priceFormatted %>
    </p>

    <% } %> <% }) %>
  </body>
</html>
