<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= restaurant.name %> Menu</title>
    <link rel="stylesheet" href="/menu.css" />
     <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="menu">
    <%- include('./partials/nav') %>
    <h1 class="full-menu">Full Menu</h1>


    <h2 class="mains">Mains</h2>
    <% menuItems.forEach(item => { if(item.category === 'mains') {
    %>
    <p><strong class="item-name"><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
    - <span class="price"><%= item.priceFormatted %></span>
  </p>
    <% } }) %>

    <h2 class="desserts">Desserts</h2>
    <% menuItems.forEach(item =>{ if (item.category === 'desserts') {%>
      <p>
        <strong class="item-name"><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
        - <span class="price"> <%= item.priceFormatted %></p></span>
      </p>
   <% } }) %>

    <h2 class="sides">Sides</h2>
    <% menuItems.forEach(item =>{ %> <% if(item.category === 'sides') { %>
    <p><strong class="item-name"><%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %></strong>
    - <span class="price"> <%= item.priceFormatted %></span>
    </p>

    <% } %> <% }) %>
  </body>
</html>
