<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= restaurant.name %> Menu</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/menu.css" />
  </head>
  <body class="menu">
    <%- include('./partials/nav') %>
    <h1 class="full-menu">Full Menu</h1>

    <% const categories = ['mains', 'desserts', 'sides']; %> 
    <% categories.forEach(cat => { %>
      <h2 class="<%= cat %>"><%= cat[0].toUpperCase() + cat.slice(1) %></h2>

      <% menuItems 
        .filter(item => item.category === cat) 
        .forEach(item => { %>
      <p>
         <strong class="item-name">
          <%= item.name %><%= item.rating === 5 ? ' ⭐️' : '' %>
        </strong>
        - <span class="price"><%= item.priceFormatted %></span> 
        - <span class="rating">⭐️ <%= item.rating %>/5</span><br>
      
       <em class="item-details"><%= item.details %></em>
     </p>
    <% }) %> 
   <% }) %>
  </body>
</html>

